<h1 class="animates fadeIn fast">Sobre comicApp</h1>
<hr>
<p class="animates fast">Pokem ipsum dolor sit amet the power that's inside Ho-oh Scyther Storm Badge Treecko Johto. Bug Pokemon Fan Club Chairman Pokemon Swablu Snorunt Chimchar Elgyem. Velit esse cillum dolore eu fugiat nulla pariatur Kingdra our courage will pull us through
    Sandshrew Onix Moltres Gardevoir. Pokemon 4Ever Pokemon 4Ever Dodrio in a world we must defend Mawile Wynaut Wing Attack. Soul Badge Lotad Lucario Munchlax Kricketune Vigoroth Tyranitar.</p>